<!DOCTYPE html>
<html>
  <head lang="fr">
    <meta charset="utf-8" />
    <title>Clean CNRTL</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0" />
    <meta name="author" content="Benjamin Becquet" />
    <link rel="stylesheet" href="/styles/main.css">
  </head>

  <body>
    <main>
      {{{ body }}}
    </main>
  </body>
</html>
