:root {
  --color-background: #fcfbf7;
  --color-text: #111;
  --color-hi: #31814d;
  --color-hi-active: #26643c;
  --color-faded: #ddd;
  --color-lightgray: #eee;
  --color-form: white;
  --font-size: 21px;
  --small: 0.75rem;
  --smaller: 0.5rem;
  --sans-serif: Roboto, 'Helvetica Neue', sans-serif;
  --serif: Georgia, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #1f2327;
    --color-text: #ddd;
    --color-hi: #ef9d1c;
    --color-hi-active: #c58929;
    --color-faded: #888;
    --color-form: #e0effe;
    --color-lightgray: #a1bfdd;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --font-size: 16px;
  }

  .searchForm {
    flex-grow: 1;
  }

  body:not(.home) .pageTitle .text {
    display: none;
  }

  body:not(.home) .pageTitle {
    margin-right: 1rem;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font: var(--font-size) / 1.5 var(--serif);
}

body {
  height: 100%;
  color: var(--color-text);
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--color-background);
}

a {
  color: var(--color-hi);
  text-underline-offset: 2.5px;
}

a:hover {
  color: var(--color-hi-active);
  text-decoration: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .page {
  margin-top: -30vh;
}

.home .page > header {
  flex-direction: column;
}

.page {
  padding: 1rem;
  flex-grow: 1;
}

.page > header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.page > header a {
  text-decoration: none;
}

.pageTitle {
  font-family: var(--sans-serif);
  font-weight: normal;
}

.pageTitle .icon {
  display: inline-block;
  transform-origin: 50% 50%;
  transform: rotate(-33deg);
}

.page > footer {
  text-align: center;
  margin-top: 2rem;
  padding: 2rem 0 1rem;
  font-size: var(--smaller);
}

.wordInputWrapper {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  background: var(--color-form);
  border: 1px solid var(--color-faded);
  border-radius: 2rem;
  padding: 0.25rem;
}

.wordInputWrapper:focus-within {
  box-shadow: 0 0 5px var(--color-faded);
}

#wordInput {
  width: 100%;
  font-size: 1rem;
  flex-grow: 1;
  margin-left: 0.5rem;
}

.searchForm {
  flex-basis: 50%;
}

input {
  min-height: 2rem;
  padding: 0 0.5rem;
  border: none;
  background: transparent;
}

input:focus {
  outline: 0;
}

input[type='submit'] {
  background-color: var(--color-lightgray);
  border-radius: 2rem;
  padding: 0 0.5rem;
  border: 1px solid transparent;
  cursor: pointer;
}

input[type='submit']:focus {
  border-color: var(--color-faded);
}

.resultHeader {
  display: flex;
}
.cnrtlLink {
  font-size: var(--small);
  margin-left: auto;
}

.tlf_parah {
  margin-bottom: 2rem;
}

.tlf_parah .tlf_parah {
  margin: 1rem 0 0.5rem;
}

.tlf_cvedette {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  color: var(--color-hi);
}

.tlf_tabulation {
  margin-left: 1.5rem;
}

.tlf_cdefinition {
  font-weight: bold;
}

.example {
  padding-left: 2rem;
  margin: 0.5rem 0;
  quotes: '«\00A0''\00A0»';
}

.example blockquote {
  font-style: italic;
  font-size: var(--small);
}

.example blockquote:before {
  content: open-quote;
}
.example blockquote:after {
  content: close-quote;
}

.example figcaption {
  font-size: var(--small);
}
