:root {
  --color-text: #111;
  --color-hi: rgb(120, 49, 212);
  --color-light: #ddd;
  --font-size: 21px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font: var(--font-size) / 1.5em Georgia;
  color: var(--color-text);
}

body {
  max-width: 800px;
  margin: 0 auto;
}

main {
  padding: 1rem;
}

body > footer {
  text-align: right;
  margin-top: 1rem;
  padding: 1rem;
  border-top: 1px solid var(--color-light);
  font-size: 0.75rem;
}

.cnrtlLink {
  font-size: 0.75rem;
}

.tlf_parah {
  margin-bottom: 2rem;
}

.tlf_parah .tlf_parah {
  margin: 1rem 0 0.5rem;
}

.tlf_cvedette {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  color: var(--color-hi);
}

.tlf_tabulation {
  margin-left: 1.5rem;
}

.tlf_cdefinition {
  font-weight: bold;
}

.example {
  padding-left: 1rem;
}

.example blockquote {
  font-style: italic;
}

.example figcaption {
  font-size: 0.75rem;
}
