:root {
  --color-dark: #111;
  --color-background: #fcfbf7;
  --color-text: var(--color-dark);
  --color-hi: #31814d;
  --color-hi-active: #26643c;
  --color-faded: #ddd;
  --color-lightgray: #eee;
  --color-form: white;
  --font-size: 21px;
  --small: 0.85rem;
  --smaller: 0.7rem;
  --sans-serif: 'Helvetica Neue', Arial, sans-serif;
  --serif: Georgia, serif;
  --shadow: 0 0 5px var(--color-faded);
  --setting-font: var(--serif);
  --setting-align: auto;
  --setting-theme: 'auto';
}

@mixin darkMode {
  --color-dark: #1f2327;
  --color-background: var(--color-dark);
  --color-text: #ddd;
  --color-hi: #ef9d1c;
  --color-hi-active: #c58929;
  --color-faded: #6d440a;
  --color-form: #e0effe;
  --color-lightgray: #462c08;
  --shadow: 0 0 5px var(--color-dark);
}

@media (prefers-color-scheme: dark) {
  [data-setting_theme=''],
  [data-setting_theme='auto'] {
    @include darkMode;
  }
}

[data-setting_theme='dark'] {
  @include darkMode;
}

[data-setting_align='justify'] {
  --setting-align: justify;
}

[data-setting_font='sans-serif'] {
  --setting-font: var(--sans-serif);
}

@media screen and (max-width: 600px) {
  :root {
    --font-size: 16px;
  }

  #controls {
    flex-grow: 1;
  }

  body:not(.home) .pageTitle .text {
    display: none;
  }

  body:not(.home) .pageTitle {
    margin-right: 1rem;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font: var(--font-size) / 1.5 var(--sans-serif);
}

body {
  height: 100%;
  color: var(--color-text);
  max-width: 900px;
  margin: 0 auto;
  background-color: var(--color-background);
}

a {
  color: var(--color-hi);
  text-underline-offset: 2.5px;

  &:hover {
    color: var(--color-hi-active);
    text-decoration: none;
  }
}

p {
  margin-bottom: 0.25rem;
}

sup {
  line-height: 0;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;

  .page {
    margin-top: -30vh;

    & > header {
      flex-direction: column;
    }
  }
}

.page {
  padding: 1rem;
  flex-grow: 1;

  & > header {
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
    }
  }

  & > footer {
    text-align: right;
    margin-top: 2rem;
    padding: 2rem 0 1rem;
    font-size: var(--smaller);
  }
}

.pageTitle {
  font-family: var(--sans-serif);
  font-weight: normal;

  .icon {
    display: inline-block;
    transform-origin: 50% 50%;
    transform: rotate(-33deg);
  }
}

main {
  font-family: var(--setting-font);
  text-align: var(--setting-align);
}

.errorMsg {
  margin-top: 3rem;
}

@import './controls.scss';
@import './defs.scss';
